#app{
	margin: 0 auto;
	padding: 30px 40px;
	position: relative;
	box-sizing: border-box;
	height: 100vh;
	.composables{
    box-sizing: border-box;
		min-width: 600px;
		height: 92vh;
		overflow: auto;
		body::-webkit-scrollbar { 
			display: none; 
		}
    h1{
    	font-size: 18px;
    	line-height: 1.5;
    }
	}

}