#app{
	margin: 0 auto;
	padding: 50px;
	position: relative;
	box-sizing: border-box;
	.home{
    	box-sizing: border-box;
		width: 600px;
		height: 100%;
    h1{
    	font-size: 18px;
    	line-height: 1.5;
    }
	}
}