.card{
  width: 100%;
  background: #f3f2f2;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 10px;
  margin: 20px 0px;
  .demonstration{
    display: block;
    width: 20%;
  }
  .el-form{
    p{
      font-size: 8px;
      margin: -12px 0 0 100px;
      color: #918e8e;
    }
  }
}